<header>
  <renova-nav></renova-nav>
  <!--
  <mz-navbar navbarClass="secondary-color">
    <a routerLink="/" class="brand-logo">
      <img src="assets/images/logos/logo-comfamiliar-r-blanco.svg" style="max-height: 40px; margin-top: 10px; margin-left: 10px;">
    </a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a routerLink="/auth/login">Manual</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/auth/login">Migraciones</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/auth/login">Auditoria</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/auth/login">Ingresar</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  -->
</header>
