<div class="container valing-wrapper" style="vertical-align: middle;">

  <!--  Tables Section-->
  <div id="auth-login" class="row">
    <!-- <h1 class="thin">Login</h1> -->
    <div class="col s12 m8 l6 offset-m2 offset-l3 card-panel">
      <form class="auth-form">
        <div class="row auth-form-header">
          <div class="col s4">
            <a [routerLink]="['/home']">
              <img src="assets/images/logos/logo-comfamiliar-c-blanco.svg" alt="logo" class="logo responsive-img-height">
            </a>
          </div>
          <div class="col s8 right-align">
            <h4 class="light white-text">Cambiar Clave</h4>
          </div>
        </div>
        <div class="auth-form-body">
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password-again" type="password">
              <label for="password-again">Re-type password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <a href="javascript:void(0);" class="btn-large waves-effect waves-light col s12">Cambiar Clave</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
