#logo-supersubsidio{
	max-height: 25px;
}

#locations-logos img{
	max-width:128px;
	margin:0;
	padding:0
}

footer{
	padding:0;
}

#list-contact{

	li{
		margin:7px 0 7px 0;
		font-size:13px;
		padding-bottom:7px;
	}

	line-height: 0.3;
}
.responsive-img {
	max-width: 128px !important;
}
.img_footer{
	width: 20px;
}