<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="shades centerc cocon-font">Centros de negocios</h5>

        <div class="col s6 m6 l2 img_footer  center valign-wrapper" style="height: 90px;">
          <a href="http://playajuncal.com/" target="_blank"><img class="responsive-img" src="assets/images/logos/playa.png"/></a>
        </div>
        <div class="col s6 m4 l2 img_footer  center valign-wrapper" style="height: 90px;">
          <a href="http://lastermalesderivera.com/" target="_blank"><img class="responsive-img" src="assets/images/logos/termales.png"/></a>
        </div>
        <div class="col s6 m4 l2 img_footer  center valign-wrapper" style="height: 90px;">
          <a href="http://clubloslagos.com/" target="_blank"><img class="responsive-img" src="assets/images/logos/lagos.png"/></a>
        </div>
        <div class="col s6 m4 l2 img_footer  center valign-wrapper" style="height: 90px;">
          <a href="http://gimnasioscomfamiliar.com/" target="_blank"><img class="responsive-img" src="assets/images/logos/gimnasios.svg"/></a>
        </div>
        <div class="col s6 m4 l2 img_footer  center valign-wrapper" style="height: 90px;">
          <a href="http://www.comfalagos.edu.co/" target="_blank"><img class="responsive-img" src="assets/images/logos/colegio.png"/></a>
        </div>
        <div class="col s6 m4 l2 img_footer   center valign-wrapper" style="height: 90px;">
          <a href="https://comfamiliarhuila.com/programas-tecnicos-laborales-por-competencias/"><img class="responsive-img" src="assets/images/logos/centro_formacion_empresarial.png"/></a>
        </div>

      </div>
      <div class="col l3 s12">
        <h5 class="shades cocon-font">Contacto</h5>
        <ul id="list-contact">
          <li><i class="tiny material-icons">location_on</i>  Calle 11 Con Cra. 5 Esquina</li>
          <li><i class="tiny material-icons">local_phone</i>  8713092 Ext 5103</li>
          <li><i class="tiny material-icons">email</i>  centraldecotizaciones@comfamiliarhuila.com</li>
          <li><i class="tiny material-icons">https</i>  <a href="https://comfamiliarhuila.com/" target="_blank">www.comfamiliarhuila.com</a> </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="footer-copyright">
    <div class="container">
      <div class="left">
        <a class="white-text" href="http://comfamiliarhuila.com" target="_blank">
          www.comfamiliarhuila.com
        </a>
        <br>
        <span class="cocon-font-light">© Copyright Comfamiliar del Huila {{dateYear}}</span>
      </div>
      <div class="right" style="padding-top: 10px;">
        <img class="responsive-img" src="assets/images/logos/logo-supersubsidio.svg"
             id="logo-supersubsidio"/>
      </div>
    </div>

  </div>
</footer>
