<div [ngStyle]="{'width': width + 'px', 'height': height + 'px'}">
  <input type="file" style="display:none;">
  <div [id]="uuid" class="image-upload" [ngStyle]="{'width': width + 'px', 'height': height + 'px'}">
    <i style="padding: 0;
                margin: 0;
                height: 30px;
                width: 30px;
                font-size: 30px;
                color: #FFF;
                opacity: 0.5;
                top: calc(50% - 15px);
                left: calc(50% - 15px);
                position: relative;"
       class="material-icons">add_a_photo</i>
  </div>
</div>
