<!--<iframe id="video-background" width="560" height="315" src="https://www.youtube.com/embed/a3Lsm0drzjQ?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;enablejsapi=1&version=3" frameborder="0" allowfullscreen style="display:none"></iframe>


<div class="container valing-wrapper" style="vertical-align: middle;">

    <div id="auth-login" class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3 card-panel">

            <ul class="tabs">
                <li class="tab col s4"><a href="#tab1" class="active">Iniciar Sesión          </a></li>
                <li class="tab col s4"><a href="#tab2">¿Olvidó su Clave? </a></li>
            </ul>

            <div id="tab1" class="col s12">
                <renova-auth-login></renova-auth-login>
            </div>
             <div id="tab2" class="col s12">
                <renova-auth-forgot></renova-auth-forgot>
             </div>

             <div class="input-field col s12">
                <p class="center medium-small sign-up">Volver al <a href="index.html">Inicio</a>
                </p>
            </div>

        </div>

    </div>
</div> -->