<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper" id="posts-title">
      <a class="page-title">Auditoria</a>
    </div>
  </div>
</nav>
<div>
  <div class="container">
    <div class="row">
      <div class="s12 m12 l12">
        <mz-collection>
          <a mz-collection-link routerLink="/audit/activities/models">Modelos Auditados</a>
          <a mz-collection-link routerLink="/audit/activities">Seguimiento de Actividades</a>
        </mz-collection>
      </div>
    </div>
  </div>
</div>