<mz-progress class="loading-bar" [backgroundClass]="'orange lighten-4'" [progressClass]="'orange'" [ngStyle]="{'display': isLoading ? 'block' : 'none' }"></mz-progress>
<div class="overal-loading" [ngStyle]="{'display': isLoading ? 'block' : 'none' }">
  <div class="preloader-container" style="opacity: 1 !important;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>

        <div class="gap-patch">
          <div class="circle"></div>
        </div>

        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
