@charset "UTF-8";

// Color
@import "./scss/colors";
// @import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
// Variables;
// @import "~materialize-css/sass/components/variables";
@import "./scss/variables";
// Reset
@import "~materialize-css/sass/components/normalize";
// components
// components
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/badges";
@import "~materialize-css/sass/components/icons-material-design";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/typography";
@import "~materialize-css/sass/components/transitions";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/toast";
@import "~materialize-css/sass/components/tabs";
@import "~materialize-css/sass/components/tooltip";
@import "~materialize-css/sass/components/buttons";
@import "~materialize-css/sass/components/dropdown";
@import "~materialize-css/sass/components/waves";
@import "~materialize-css/sass/components/modal";
@import "~materialize-css/sass/components/collapsible";
@import "~materialize-css/sass/components/chips";
@import "~materialize-css/sass/components/materialbox";
@import "~materialize-css/sass/components/forms/forms";
@import "~materialize-css/sass/components/table_of_contents";
@import "~materialize-css/sass/components/sidenav";
@import "~materialize-css/sass/components/preloader";
@import "~materialize-css/sass/components/slider";
@import "~materialize-css/sass/components/carousel";
@import "~materialize-css/sass/components/tapTarget";
@import "~materialize-css/sass/components/pulse";
@import "~materialize-css/sass/components/datepicker";
@import "~materialize-css/sass/components/timepicker";
@import "scss/select2";
@import "~fullcalendar/dist/fullcalendar.css";

/* Cocon Font */
// @import "assets/fonts/cocon-font/cocon-font";
@font-face {
  font-family: 'Cocon';
  src: url('#{$cocon-font-path}Cocon-Regular.eot');
  src: url('#{$cocon-font-path}Cocon-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$cocon-font-path}Cocon-Regular.woff2') format('woff2'),
  url('#{$cocon-font-path}Cocon-Regular.woff') format('woff'),
  url('#{$cocon-font-path}Cocon-Regular.ttf') format('truetype'),
  url('#{$cocon-font-path}Cocon-Regular.svg#Cocon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoconLight';
  src: url('#{$cocon-font-path}Cocon-Light.eot');
  src: url('#{$cocon-font-path}Cocon-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$cocon-font-path}Cocon-Light.woff2') format('woff2'),
  url('#{$cocon-font-path}Cocon-Light.woff') format('woff'),
  url('#{$cocon-font-path}Cocon-Light.ttf') format('truetype'),
  url('#{$cocon-font-path}Cocon-Light.svg#Cocon-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CoconBold';
  src: url('#{$cocon-font-path}Cocon-Bold.eot');
  src: url('#{$cocon-font-path}Cocon-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$cocon-font-path}Cocon-Bold.woff2') format('woff2'),
  url('#{$cocon-font-path}Cocon-Bold.woff') format('woff'),
  url('#{$cocon-font-path}Cocon-Bold.ttf') format('truetype'),
  url('#{$cocon-font-path}Cocon-Bold.svg#Cocon-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.cocon-font {
  font-family: "Cocon";
}

.cocon-font-light {
  font-family: "CoconLight";
}

.cocon-font-bold {
  font-family: "CoconBold";
}

/* main styles */

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  // font-family: 'CoconLight';
}

main {
  min-height: calc(100vh - 302px);
  flex: 1 0 auto;
}

.container {
  width: 90%;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 94%;
  }
}

nav.top-nav {
  height: 70px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $primary-color-light;
  text-align: center;
}

nav.top-nav .page-title {
  line-height: 70px;
  font-size: 2.28rem;
  font-family: 'CoconLight';
  text-transform: uppercase;
  font-weight: 600;
}

nav .nav-content {
  // font-family: 'CoconLight';
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: justify;
}

.tabs .tab a.active {
  border-bottom: $primary-color-light solid 2px;
}

.primary-color-text {
  color: $primary-color;
}

.primary-color {
  background-color: $primary-color;
}

.secondary-color-text {
  color: $secondary-color;
}

.secondary-color {
  background-color: $secondary-color;
}

.justify {
  text-align: justify;
}

/* application loading */

.preloader-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

/* Code highlight */

code[class*="language-"] {
  color: #000 !important;
  text-shadow: none !important;
}

:not(pre) > code {
  background: rgba(0, 0, 0, 0.07) !important;
  border-radius: 2px !important;
  padding: 0.1em 0.3em !important;
  margin: 0 0.05em !important;
}

pre {
  background: rgba(0, 0, 0, 0.07) !important;
  border-radius: 2px;
  padding: 1em;
}

/* helpers */

.hidden {
  visibility: hidden;
  display: none;
  height: 0px;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.show {
  visibility: visible;
  display: block;
  opacity: 1;
  display: inherit;
  height: inherit;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

// @import "theme";

.nav {
  background-color: $primary-color;
}

.mz-badge[data-badge]::after {
  content: attr(data-badge);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -11px;
  right: -24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: $primary-color;
  color: rgb(255, 255, 255);
}

.error.mz-badge[data-badge]::after {

  background: $error-color;

}

.success.mz-badge[data-badge]::after {

  background: $success-color;

}

.warning.mz-badge[data-badge]::after {

  background: $warning-color;

}

.info.mz-badge[data-badge]::after {

  background: $info-color;

}

.mz-badge[data-badge]::after:hover {
  background: $error-color;
}

.mz-badge[data-badge]::after {
  top: 0px;
  right: 0px;
}

a.mz-badge {
  cursor: pointer;
  color: white;
}

a.icon-badge.mz-badge[data-badge]::after {
  top: -45px;
  right: -15px;
  position: relative;
}

.mz-badge {
  white-space: nowrap;
}

i.i-extralarge {
  font-size: 70px;
}

i.i-large {
  font-size: 48px;
}

i.i-medium {
  font-size: 32px;
}

i.i-small {
  font-size: 24px;
}

i.i-xsmall {
  font-size: 18px;
}

.list-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.modal-no-footer {
  overflow-x: hidden;

  .modal.modal-fixed-footer .modal-content {
    height: 100%;
  }

  .modal-content {
    height: 100%;
  }

  .modal-footer {
    display: none;
    visibility: hidden;
  }

  .modal-footer.modal-form-footer {
    display: block;
    visibility: visible;
    margin-left: -25px;
  }
}

/* MODAL */

.modal.modal-fixed-header {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-header .modal-content {
  position: absolute;
  top: 64px;
  height: calc(100% - 64px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-header .modal-header {
  position: absolute;
  top: 0;
}

.modal-fixed-header .modal {
  padding: 0;
  height: 70%;
}

.modal-fixed-header .modal .modal-content {
  position: absolute;
  top: 64px;
  height: calc(100% - 64px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0px;
}

.modal-fixed-header .modal .modal-header {
  position: fixed;
  top: 0;
}

.modal .modal-header {
  border-radius: 0px 0px 0px 0px;
  background-color: #fafafa;
  padding: 0;
  height: 64px;
  width: 100%;
}

.modal .modal-header .brand-logo {
  margin-left: 10px;
  font-size: 1.4rem;
}

.modal-header a > i:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#save-form.disabled i {
  color: #ccc;
}

.modal-fixed-header .modal .modal-content.datepicker-container {
  position: absolute;
  top: 0px !important;
  height: calc(100%) !important;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0px;
}

/**
.modal { z-index:999999997 !important; }
.modal .introjs-fixedTooltip { z-index: 999999998 !important; }
.modal .introjs-showElement { z-index: 999999999 !important; }
**/

/* TOAST */

#toast-container {
  z-index: 10000001;
}

/* ANNO.JS*/

.anno {
  padding: 0px;
}

.anno .anno-inner {
  position: relative;
  background: white;
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.autocomplete-content {
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  opacity: 1;
  position: static;
  max-height: 200px;
}

.select-options {
  display: block;
  opacity: 1;
  width: calc(100% - 20px);
}

.select-options > li:first-child {
  margin-top: 50px;
}

.select-options-hidden {
  opacity: 0;
  display: none;
}

.modal-fixed-header form label {
  color: #000;
}

/*.input-field label {
  top: 0px;
  font-size: 1.2rem;
}*/


/* Datatables */

.datatable-example {
  cellspacing: 0;
  width: 100%;
}

.dataTable,
.dataTable th,
.dataTable td {
  border-radius: 0;
}

.dataTable th,
.dataTable td {
  padding: 15px 5px !important;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  background: none;
}

.dataTable.display tr.odd,
.dataTable.hover tr.odd {
  background-color: transparent !important;
}

.dataTable.display tbody tr:hover,
.dataTable.hover tbody tr:hover {
  background-color: #EEEEEE !important;
}

.dataTable.display tr .sorting_1,
.dataTable.hover tr .sorting_1 {
  background-color: transparent !important;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 15px 5px !important;
  border-bottom: 1px solid #E6E6E6;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 15px 5px !important;
  border-top: 1px solid #E6E6E6;
}

.dataTable.display tr,
.dataTable.hover tr {
  background-color: transparent !important;
  border-bottom: 1px solid #E6E6E6;
}

.dataTables_filter input {
  width: 250px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #E6E6E6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
  background: none;
  border: 0;
  color: #444 !important;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
  background: #607d8b;
  border: 0;
  color: #fff !important;
  box-shadow: none;

}

.dataTables_wrapper .dataTables_paginate .paginate_button i {
  font-size: 2.2rem;
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #444;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #999;
}

.dataTables_wrapper label select,
.dataTables_wrapper label input {
  color: #333;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: 1px solid #E6E6E6;
}

@media only screen and (max-width: 992px) {
  .dataTable.display tbody td {
    border-top: 0 !important;
  }
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting {
    background: none;
  }
}

@media only screen and (max-width: 992px) {
  table.dataTable thead .sorting {
    width: auto !important;
  }
}

.btn-card {
  font-size: 30px !important;
  line-height: 40px !important;
}

.fc-state-highlight {
  opacity: 0;
  border: none;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
  border-radius: 4px;
  border: none;
  padding: 5px;
  opacity: .65;
  left: 5% !important;
  right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
  border-style: none !important;
  border-width: 1px !important;
  padding: 0 !important;
  vertical-align: top !important;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
  font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px !important;
}

/* Material design button */
.fc-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  letter-spacing: .01em;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.fc-button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.fc-button:focus, .fc-button:hover {
  text-decoration: none;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */
.fc-state-active {
  background-color: rgba(158, 158, 158, 0.2);
}

/* Not raised button */
.fc-state-default {
  box-shadow: None;
}

.fc-toolbar h2 {
  font-size: 2rem;
  padding-top: 1rem;
}

.fc td:not(.fc-event-container) {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.fc-event-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.fc-content-skeleton thead {
  border-bottom: 0px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}

.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.fc-ltr .fc-h-event.fc-not-start, .fc-rtl .fc-h-event.fc-not-end {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.atlwdg-trigger.atlwdg-SUBTLE {
  z-index: 100000;
}


.ngx-select__choices {
  background: #fff;
  margin-top: 1px;
}

.fixed-back-btn {
  position: fixed;
  left: 10%;
  top: 54px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.select-month > .select-dropdown.dropdown-trigger {
  margin-bottom: 0px !important;
}

.select-year > .select-dropdown.dropdown-trigger {
  margin-bottom: 0px !important;
}

.year-text {
  font-size: 1.8rem !important;
}

.date-text {
  font-size: 2.2rem !important;
}

.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.row {
  margin-bottom: 10px;
}

.no-padding td, th {
  font-size: 12px !important;
  padding: 0px !important;
}

.small-padding td, th {
  font-size: 12px !important;
  padding: 5px !important;
}

.with-border {
  border: 1px solid #CCC;
}

.with-border th, .with-border td {
  border: 1px solid #CCC;
}

.sidenav {
  min-width: 350px !important;
}
