<div class="slider">
    <ul class="slides">

        <li>
            <img src="assets/images/banner1.jpg" />
        </li>

        <li>
            <img src="assets/images/banner2.jpg" />
        </li>

        <li>
            <img src="assets/images/banner3.jpg" />
        </li>

       <!-- <li>
            <img src="assets/images/others/renova.jpg" />
            <div class="caption center align">
                <div class="jumbotron">
                    <h4 class="header center shades cocon-font">Recreaweb</h4>
                </div>
            </div>
           <img src="assets/images/banner.jpg" />
        </li> -->

        <!--
        <li>
            <img src="assets/images/others/playa.jpg" />
                <div class="caption center align">
                <div class="jumbotron">
                    <h4 class="header center shades cocon-font">Playa Juncal</h4>
                </div>
            </div>
        </li>
        <li>
            <img src="assets/images/others/colegio.png" />
             <div class="caption center align">
                <div class="jumbotron">
                    <h4 class="header center shades cocon-font">Colegio Los Lagos</h4>
                </div>
           </div>
        </li>
       <li>
            <img src="assets/images/others/termales.jpg" />
             <div class="caption center align">
                <div class="jumbotron">
                    <h4 class="header center shades cocon-font">Las Termales Rivera -  Huila</h4>
                </div>
           </div>
        </li>
        <li>
                <img src="assets/images/others/gimnasio.jpg" />
                 <div class="caption center align">
                    <div class="jumbotron">
                        <h4 class="header center shades cocon-font">Gimnasios</h4>
                    </div>
               </div>
            </li>
       <li>
            <img src="assets/images/others/lagos.jpg" />
            <div class="caption center align">
                <div class="jumbotron">
                    <h4 class="header center shades cocon-font">Club Los Lagos</h4>
                </div>
            </div>

        </li>
        -->
    </ul>
</div>
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image">
        <a routerLink="/reservations/new"><img src="assets/images/banner-reservas.jpg">
        <span class="card-title">Reserva aquí</span></a>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image">
        <a routerLink="/quotations"><img src="assets/images/banner-cotizaciones.jpg">
        <span class="card-title">Cotice aquí</span></a>
      </div>
  </div>
</div>
