<div class="container valing-wrapper" style="vertical-align: middle;">

    <!--  Tables Section-->
    <div id="auth-login" class="row">
        <!-- <h1 class="thin">Login</h1> -->
        <div class="col s12 m8 l6 offset-m2 offset-l3 card-panel">
            <div class="col s12 center" *ngIf="emailSend">
                <h4>{{successMessage}}</h4>
                <i class="material-icons green-text" style="font-size: 6rem; margin-top: 20px">check_circle</i>
                <p>
                    Por favor revise su bandeja de entrada!
                </p>
            </div>

            <form class="auth-form" [formGroup]="recoverPasswordForm" novalidate *ngIf="!emailSend">
                <div class="row auth-form-header">
                    <div class="col s4">
                        <a [routerLink]="['/home']">
                            <img src="assets/images/logos/logo-comfamiliar-c-blanco.svg" alt="logo"
                                 class="logo responsive-img-height">
                        </a>
                    </div>
                    <div class="col s8 right-align">
                        <h4 class="light white-text">Recuperar Clave</h4>
                    </div>
                </div>
                <div class="auth-form-body">
                    <div class="row">
                        <mz-input-container>
                            <input mz-input
                                   mz-validation
                                   [label]="'Email'"
                                   formControlName="email"
                                   [errorMessageResource]="errorMessageResources.email"
                                   placeholder="Ingrese su correo electrónico"
                                   id="email"
                                   name="email"
                                   type="email"
                                   required>
                        </mz-input-container>
                    </div>
                    <div class="row">
                        <div class="input-field center col s12">
                            <button mz-button
                                    [large]="true"
                                    (click)="recoverPassword()"
                                    [disabled]="!recoverPasswordForm.valid">
                                Recuperar Clave
                            </button>
                        </div>
                        <div class="input-field col s12">
                            <p class="center medium-small sign-up">
                                No tiene cuenta de usuario? <a [routerLink]="['/auth/register']">Registrerse</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
